<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	attendance페이지
	<form action="/attendance" method="post">
	<input type="text" id="memo" name="memo">
	<input type="submit" value="출첵" id="출첵">
	</form>
	</body>
</html>
