<%layout('layout') -%>
	<style>
		label{
			text-align:center;
		}
                .login{
                	text-align:center;
                }
                form{
                        margin-top:5%;
                }
        </style>

        <script>
        $(document).ready(function(){
                /*$("#btnJoin").click(
                        function(){
                        /*        if($("#id").val() == "")
                                {
                                        alert("아이디를 꼭 입력 하세요");
                                        $("#id").focus();
                                        return ;
                                }
                                if($("#passwd").val() == "")
                                {
                                        alert("비밀번호를 꼭 입력 하세요");
                                        $("#passwd").focus();
                                        return ;
                                }
				if($("#nickname").val()==""){
					alert("닉네임을 입력해주세요");
					$("#nickname").focus();
				}
				alert('test');
				return false;
                                $("#joinForm").submit();
                        }
                        );*/

});
</script>
</head>
<body>
        <form id="joinForm" action="/join" method="post">
                        <!--<tr>
                                <th>아이디</th>
                                <td><input type="text" name="id" id="id" size="12" maxLength="12"></td>
                        </tr>
                        <tr>
                                <th>비밀번호</th>
                                <td><input type="password" name="password" id="passwd" size="12" maxLength="12"></td>
                        </tr>
			<tr>
                                <th>닉네임</th>
                                <td><input type="text" name="nickname"></td>
                        </tr>
			<tr>
				<th>tel</th>
				<td><input type="text" name="tel" id="tel" size="12"></td>
			</tr>
			<tr>
				<th>phone</th>
				<td><input type="text" name="phone" id="phone"</td>
			</tr>
			<tr>
				<th>email</th>
				<td><input type="text" name="text" id="email"></td>
			</tr>
                        <tr>
                                <td colspan="2">
                                        <input type="button" id="btnJoin" name="join" value="가입">
                                        <input type="reset" name="cancel"value="취소">
                                </td>
                        </tr>-->

		<div class="form-group row">
                	<label for="example-text-input" class="col-2 col-form-label">id</label>
        		<div class="col-10">
                		<input class="form-control" name="id" type="text" value="id" id="id">
        		</div>
        	</div>
        	<div class="form-group row">
        		<label for="example-search-input" class="col-2 col-form-label">password</label>
                	<div class="col-10">
                        	<input class="form-control" name="password" type="password" value="password" id="password">
                	</div>
                </div>
		<div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">nickname</label>
                        <div class="col-10">
                                <input class="form-control" name="nickname" type="text" value="nickname" id="nickname">
                        </div>
                </div>
		<div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">tel</label>
                        <div class="col-10">
                                <input class="form-control" name="tel" type="text" value="tel" id="tel">
                        </div>
                </div>
		<div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">phone</label>
                        <div class="col-10">
                                <input class="form-control" name="phone" type="phone" value="phone" id="phone">
                        </div>
                </div>
		<div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">email</label>
                        <div class="col-10">
                                <input class="form-control" name="email" type="text" value="email" id="email">
                        </div>
                </div>
         	<div class="form-group login">
         		<!--<input type="button" id="btnJoin" name="join" value="가입">-->
			<button type="submit" class="btn btn-primary">가입</button>
			<button type="reset" class="btn btn-danger">취소</button>
		</div>

        </form>

</body>
</html>
 


