<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	login페이지
	<form action="/login" method="post">
	<input type="text" id="id" name="id">
	<input type="text" id="password" name="password">
	<input type="submit" value="login">
	</form>
	</body>
</html>
